
chat-page{
    
	display: flex;
	justify-content: center;
	align-items: center;
}

chat-page .parent {
    width: 90%;
    height: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

chat-page .chat {
    width: 35%;
    height: 100%;
    background-color: #00453F64;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}

chat-page .chat .chattext {
    color: #3DBDA7;
    margin-left: 40px;
    font-size: 36px;
    margin-bottom: 30px;
}

chat-page .user {
    position: relative;
    width: 90%;
    margin-top: 30px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    margin-bottom: 20px;
}

chat-page .user.activeuser{
    background-color: #1a7264;
    width: 80%;
    border-radius: 24px;
    padding-bottom: 20px;
}



chat-page .users-display {
    width: 100%;
    height: 80%;
    margin-left: 40px;
    overflow: scroll;
    border-radius: 0 0 3vw 3vw;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}


chat-page .user img {
    width: 18%;
    height: 90%;
    margin-right: 20px;
    background-color: #F7C5BF;
    border-radius: 50%;
}

chat-page .user-status {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 0.25vh solid #00453F;
    background-color: #A5BAA9;
}

chat-page .backgrounda {
    top: 8%;
    left: 10%;
    width: 70%;
    height: 70%;
    border-radius: 100%;
    border: none;
    background-color: #A5BAA9;
}

chat-page .user-status.active {
    background-color: #36f00c;
}
chat-page .user-ingame {
    display: none;
}

chat-page .user-ingame.active {
    width: 18%;
    height: 34%;
    background-color: #3DBDA7;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.6vw;
    bottom: -10%;
}


chat-page .flex-col {
    display: flex;
    flex-direction: column;
}

chat-page .user .username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

chat-page .user .username h1 {
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
    display: inline-block;
}

chat-page .user .username p {
    font-size: 14px;
    color: #B5B2B2;
    margin-top: 5px;
    display: inline-block;
}

chat-page .text-chat {
    width: 60%;
    height: 100%;
    display: flex;
    background: radial-gradient(circle at top left, #053732, #006C6199, #0E867985, #3DBDA700);
    justify-content: center;
    border-radius: 24px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}



chat-page .messages {
    flex: 1 1 auto;
    color: rgba(255, 255, 255, .5);
    overflow: auto;
    position: relative;
    border-radius: 26px;
    width: 95%;
    /* fix this shit */
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

chat-page .messages-content {
    overflow-y:scroll;
    scrollbar-width: none;
}



chat-page .messages .messages-content {
    height: 100%;
    width: 100%;
}

chat-page .messages .message {
    clear: both;
    float: left;
    margin: 18px 5px;
    background-color: #FFFFFF;
    font-size: 11px;
    line-height: 1.4;
    margin: 0 35px 35px 35px ;
    position: relative;
}

chat-page .timestamp {
    width: 100%;
    position: absolute;
    bottom: -18px;
    font-size: 12px;
    right: 10px;
    color: rgba(255, 255, 255, .3);
    text-align: right;
}
chat-page  .your-messages .timestamp {
    text-align: left;
}

chat-page .messages .my-messages {
    max-width: 70%;
    float: right;
    color: #fff;
    background: #3DBDA7;
    padding: 20px;
    border-radius: 42px;
    font-size: 1rem;
}

chat-page .messages .my-messages::before {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #257287;
    bottom: -4px;
}

chat-page .messages .your-messages {
    max-width: 70%;
    float: left;
    background-color: #fff;
    color: #3DBDA7;
    padding: 20px;
    border-radius: 42px;
    font-size: 1rem;
}

chat-page .messages .your-messages::before {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #257287;
    bottom: -4px;
}



chat-page .messages .message:last-child {
    margin-bottom: 30px;
}

chat-page .messages .message .new {
    transform: scale(0);
    transform-origin: 0 0;
    animation: bounce 500ms linear both;
}

chat-page .message-box {
    flex: 0 1 40px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

chat-page .message-box .message-input {
    border: none;
    width: 80%;
    resize: none;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 26px;
    padding: 20px;
    
}

chat-page .message-box .message-input::-webkit-scrollbar {
    display: none;

}

chat-page .message-box .message-submit {
    color: #fff;
    border: none;
    background: #3DBDA7;
    font-size: 10px;
    padding: 24px;
    border-radius: 25px;
}

chat-page .message-box .message-submit:hover {
    background: #209380;
}

chat-page .search{
    padding: 20px;
    width: 80%;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    background-color: #105852;
    border: none;
    color: white;
    border-radius: 24px;
}

@media (max-width: 375px) {
    chat-page .chat {
        width: 100%;
    }
    
    chat-page .chat .chattext {
        margin-left: 30px;
        font-size: 20px;
    }
    
    chat-page .user {
        position: relative;
        width: 90%;
        margin-top: 10px;
        border-radius: 50%;
        padding: 10px;
    }
    
    chat-page .users-display {
        width: 100%;
        height: 80%;
        margin-left: 20px;
        border-radius: 0 0 3vw 3vw;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;
    }
    
    chat-page .user img {
        width: 20%;
    }
    
    chat-page .user-ingame.active {
        width: 20%;
        height: 34%;
        background-color: #3DBDA7;
        position: absolute;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.5vw;
        bottom: 2%;
    }
    
    
    chat-page .user .username h1 {
        font-size: 15px;
    }
    
    chat-page .user .username p {
        font-size: 10px;
    }
    chat-page .text-chat {
        width: 100%;
        display: none;
    }

    chat-page .messages .message {
        clear: both;
        float: left;
        margin: 10px 5px;
        font-size: 6px;
        line-height: 1;
        margin-left: 10px;
    }
    
    chat-page .timestamp {
        font-size: 8px;
    }
    
    chat-page .messages .my-messages {
        max-width: 60%;
        float: right;
        padding: 10px;
        border-radius: 22px;
        font-size: 0.8rem;
    }
    
    chat-page .messages .my-messages::before {
        left: auto;
        right: 0;
        border-right: none;
        border-left: 5px solid transparent;
        border-top: 4px solid #257287;
        bottom: -4px;
    }
    
    chat-page .messages .your-messages {
        max-width: 60%;
        float: left;
        padding: 10px;
        border-radius: 22px;
        font-size: 0.8rem;
    }
    
    chat-page .messages .your-messages::before {
        left: auto;
        right: 0;
        border-right: none;
        border-left: 5px solid transparent;
        border-top: 4px solid #257287;
        bottom: -4px;
    }
    

    
    chat-page .messages .message:last-child {
        margin-bottom: 20px;
    }
    
    
    chat-page .message-box {
        flex: 0 1 20px;
        width: 90%;
        padding: 5px;
        
    }
    
    chat-page .message-box .message-input {
        font-size: 14px;
        border-radius: 22px;
        padding: 15px;
        
    }
    
    chat-page .message-box .message-input::-webkit-scrollbar {
        display: none;
    }
    chat-page .message-box .message-submit {
        padding: 15px;
        border-radius: 22px;
    }

    chat-page .return{
        display: flex;
        justify-content: start;
        align-items: start;
    }
    chat-page .return img
    {
        width: 10%;
        margin-left: 10px;
        margin-top: 10px;
    }

    chat-page .search{
        padding: 20px;
        width: 72%;
        margin-left: 20px;
        justify-content: center;
        align-items: center;
        background-color: #105852;
        border: none;
        color: white;
        border-radius: 24px;
    }

}

/* chat-page .triangle-1 {
    width: 20%;
    height: 80%;
    position: absolute;
    left: 30%;
    top: 15%;
    background: radial-gradient(circle at top left, #053732, #006C6199, #0E867985, #3DBDA700);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}
 */


