
game-page{
	display: flex;
	justify-content: center;
	align-items: center;
}

game-page .parent {
	width: 90%;
	height: 100%;
	display: flex;
	/* justify-content: center;
	align-items: center; */
	background-color: #067D71;
	border: 10px #067D71;
	border-radius: 50px;
	/* padding: 50px; */
	flex-direction: column;
}
game-page .top-bar {
	display: flex;
	flex:1;
	justify-content: space-between;
	background: linear-gradient(89.401deg, #3DBDA7 1%, #3DBDA7 33%, #3CBCA6 49%, #2AA795 67%, #0A8175 100%);
	border-radius: 50px;
	/* padding: 1%; */
}
game-page .time {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(0, 0, 0);
	font-size: 2.2vw;
}
game-page .user-1 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
game-page .user-2{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

game-page .user-1-name , game-page .user-2-name{
	color: rgb(255, 255, 255);
	font-size: 2vw;
	padding: 1%;
}

game-page .tb-user-1-logo , game-page .tb-user-2-logo{
	width: 30%;
	padding: 0px 10px;
}

game-page .user-1-score , game-page .user-2-score{
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(255, 255, 255);
	font-size: 2vw;
	/* padding: 0% 1%; */
}

game-page .game-board {
	width: 100%;
	display: flex;
	/* background: #7e2f2f; */
	border-radius: 50px;
	flex: 9;
	justify-content: center;
	align-items: center;
}
game-page .board {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 97%;
	height: 94%;
	display: flex;
	background: #1D1E22;
	border-radius: 50px;
	/* padding: 25%; */
	box-shadow: inset 0 0 20px 1px #000000;
}
game-page .left-racket, game-page .right-racket {
    padding: 0.5%;
    position: relative; /* Add this line */
}

game-page .left-racket img{
    position: absolute;
    top: 0;
}
game-page .right-racket img {
    position: absolute;
    top: 0;
	left: -10px;
}

game-page .middle-line {
    /* border-left: 10px dashed #ffffff; */
    width: 100%;
    height: 100%;
    object-fit: cover;


}
game-page .middle-line img {
	width: 100%;
	height: 100%;
}
game-page .middle-part {
	display: flex;
    /* justify-content: space-around; */
    align-items: center;
	height: 100%;
}
game-page .start-game-first h2 {
    color: rgb(113, 62, 62);
    font-size: 3vw;
    padding: 46px;
}

game-page .start-game-second h2 {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    padding: 30px;
}
game-page .game-over {
	color: rgb(255, 255, 255);
	font-size: 2vw;
	/* padding: 30px; */
}

game-page .ball {
    position: absolute;
    top: 57%;
    left: 50%;
    /* left: calc(50% - 22px); */
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}