*{
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 80px;
    background: linear-gradient(150deg , #003E38 10%, #003E38 14%,#014E46 28%,  #00766A 41%, #004E46 55%, #035149 62%, #035149 75% , #003E38 80%, #002924 99%);

}
header {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    background-color: #00453F;
    padding: 20px 10px;
    left: 20%;
    /* margin: 50px; */
    border-radius: 54px;
}

header a {
    justify-content: space-between;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    color: #D9D9D9;
    font-size: 18px;
    line-height: 25px;
    border-radius: 24px;
}

header a:hover {
    color: #6b6969;
}


header img{
    /* width: 50%; */
    display: flex;
    margin-left: 100px;
}

.header-right {
    float: right;
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.center{
    /* height: 100vh; */
    /* display: flex; */
    /* flex-direction: row; */
}

.first{
    display: flex;
    margin-top: 150px;
    
}
.second{
    display: flex;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    
}




.first .login{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}




.first .login h1{
    color: #D9D9D9;
    font-size: 64px;
    margin: -10px;
}
.first .login h3{
    color: #D9D9D9;
    font-size: 36px;
    /* margin-top: 200px; */
    
}

.first .login a{
    color: #013E38;
    background-color: #D9D9D9;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    /* border: 4px solid #D9D9D9; */
    border: none;
    border-radius: 20px;
    padding: 40px 120px 40px 120px;
    box-shadow: 10px 10px 5px 0px #013E38;
    
}

.first .login a:hover {
    /* color: #347b74; */
    background-color: #97b7b4a0;
    box-shadow: 5px 5px 5px 0px #013E38;
}

.first .image img{
    width: 100%;
    /* height: 50px; */
    /* background-color: red; */
}


.second .login{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.second .login h1{
    color: #D9D9D9;
    font-size: 40px;
}
.second .login p{
    text-align: center;
    color: #D9D9D9;
    font-size: 24px;
}
.second .login span{
    color: #3DBDA7;
    font-size: 24px;
}
.second .login button{
    color: #013E38;
    background-color: #D9D9D9;
    font-size: 32px;
    font-weight: 600;
    /* border: 4px solid #D9D9D9; */
    border: none;
    border-radius: 20px;
    padding: 40px 120px 40px 120px;
    box-shadow: 10px 10px 5px 0px #013E38;
}

.second .login button:hover {
    /* color: #347b74; */
    background-color: #97b7b4a0;
    box-shadow: 5px 5px 5px 0px #013E38;
}
.second .login #two{
    color: #D9D9D9;
    background-color: #013E38;
}

.second .login #two:hover{
    background-color: #97b7b4a0;
}
#one{
    margin-right: 15px;
}
#two{
    margin-left: 15px;
}

.tree{
    /* width: 100vw; */
    /* height: 100vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    
}

.tree .login h1{
    color: #D9D9D9;
    font-size: 40px;
    margin-left: 30px;
}

.tree .login h3{
    color: #D9D9D9;
    font-size: 32px;
}

.four{
    width: 25%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    
}


.four h1{
    text-align: center;
    font-size: 36px;
}

.four .lien{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.four .lien h3{
    font-size: 24px;
    margin-bottom: 5px;
}


/* @media screen and (max-width: 1000px) {
    .first{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: red;
        
    }
    .first img{
        width: 80%; 
        
    }
  } */