<div class="div1"> 
    <button class="game-button" onclick="loadContent('game')" style="position:absolute;"> test</button>
</div>
<div class="game-picker">
    <div class="picker-1"></div>
    <div class="picker-2"></div>                                
    <div class="picker-3"></div>
</div>
<div class="div3"> 

</div>
<div class="div4">

</div>
<div class="leader-board">
    <div class="leader-board_div">
        <div class="triangle-1"></div>
        <div class="triangle-2"></div>
        <div class="leader-board-0"></div>
        <div class="leader-board-1"></div>
        <div class="leader-board-2"></div>
        <div class="leader-board-3"></div>
        <div class="leader-board-4"></div>

    </div>
</div>
<div class="best-match"> 
    <div class="best-match-div">

    </div>
</div>