
chat-page{
    
	display: flex;
	justify-content: center;
	align-items: center;
}

chat-page .parent {
    width: 90%;
    height: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

chat-page .chat {
    width: 35%;
    height: 90vh;
    background-color: #00453F64;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}

chat-page .chat .chattext {
    color: #3DBDA7;
    margin-left: 40px;
    font-size: 36px;
    margin-bottom: 30px;
}

chat-page .user {
    position: relative;
    width: 80%;
    margin-top: 30px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    margin-bottom: 20px;
}

chat-page .user.activeuser{
    background-color: #1a7264;
    width: 85%; 
    border-radius: 30px; 
    padding-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}



chat-page .users-display {
    width: 100%;
    height: 80%;
    margin-left: 40px;
    overflow: scroll;
    border-radius: 0 0 3vw 3vw;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}


chat-page .user img {
    width: 18%;
    height: 90%;
    margin-right: 20px;
    background-color: #F7C5BF;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

chat-page .user-status {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 0.25vh solid #00453F;
    background-color: #A5BAA9;
}

chat-page .backgrounda {
    top: 8%;
    left: 10%;
    width: 70%;
    height: 70%;
    border-radius: 100%;
    border: none;
    background-color: #A5BAA9;
}

chat-page .user-status.active {
    background-color: #36f00c;
}
chat-page .user-ingame {
    display: none;
}

chat-page .user-ingame.active {
    width: 18%;
    height: 34%;
    background-color: #3DBDA7;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.6vw;
    bottom: -10%;
}

chat-page .dots_block {
    color: #FFFFFF;
    position: absolute;
    font-size: 1.8rem;
    border-radius: 50%;
    right: 50px;
    top: 15px;
    cursor: pointer;
}

chat-page .button_div {
    position: absolute;
    right: 10px;
    bottom: 10px;

}
chat-page .button_div .block_button{
    position: absolute;
    right: 0px;
    bottom: 10px;
    padding: 10px;
    background-color: rgb(249, 74, 74);
    color: white;
    border: none;
    border-radius: 10px;
}
chat-page .button_div .profile_button{
    position: absolute;
    right: 60px;
    bottom: 10px;
    padding: 10px;
    background-color: #3DBDA7;
    color: white;
    border: none;
    border-radius: 10px;
}




chat-page .user .username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

chat-page .user .username h1 {
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
    display: inline-block;
}

chat-page .user .username p {
    font-size: 14px;
    color: #B5B2B2;
    margin-top: 5px;
    display: inline-block;
}

chat-page .text-chat {
    width: 60%;
    height: 100%;
    display: flex;
    background: radial-gradient(circle at top left, #053732, #006C6199, #0E867985, #3DBDA700);
    justify-content: center;
    border-radius: 24px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}



chat-page .messages {
    flex: 1 1 auto;
    color: rgba(255, 255, 255, .5);
    overflow: auto;
    position: relative;
    border-radius: 26px;
    width: 95%;
    /* fix this shit */
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

chat-page .messages-content {
    overflow-y:scroll;
    scrollbar-width: none;
}



chat-page .messages .messages-content {
    height: 100%;
    width: 100%;
}

chat-page .messages .message {
    clear: both;
    float: left;
    margin: 18px 5px;
    background-color: #FFFFFF;
    font-size: 11px;
    line-height: 1.4;
    margin: 0 35px 35px 35px ;
    position: relative;
}

chat-page .timestamp {
    width: 100%;
    position: absolute;
    bottom: -18px;
    font-size: 12px;
    right: 10px;
    color: rgba(255, 255, 255, .3);
    text-align: right;
}
chat-page  .your-messages .timestamp {
    text-align: left;
}

chat-page .messages .my-messages {
    max-width: 500px;
    float: right;
    color: #fff;
    background: #3DBDA7;
    padding: 20px;
    border-radius: 42px;
    font-size: 1rem;
}

chat-page .messages .my-messages::before {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #257287;
    bottom: -4px;
}

chat-page .messages .your-messages {
    max-width: 500px;
    float: left;
    background-color: #fff;
    color: #3DBDA7;
    padding: 20px;
    border-radius: 42px;
    font-size: 1rem;
}

chat-page .messages .your-messages::before {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #257287;
    bottom: -4px;
}



chat-page .messages .message:last-child {
    margin-bottom: 30px;
}

chat-page .messages .message .new {
    transform: scale(0);
    transform-origin: 0 0;
    animation: bounce 500ms linear both;
}

chat-page .message-box {
    flex: 0 1 40px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

chat-page .message-box .message-input {
    border: none;
    width: 80%;
    resize: none;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 26px;
    padding: 20px;
    
}


chat-page .message-box .message-input::-webkit-scrollbar {
    display: none;

}

chat-page .message-box .message-submit{
    color: #fff;
    border: none;
    background: #3DBDA7;
    font-size: 10px;
    padding: 24px;
    border-radius: 25px;

}

chat-page .message-box .send_to_play {
    border: none;
    background: #3DBDA7;
    font-size: 10px;
    padding: 15px;
    border-radius: 25px;

}

chat-page .message-box .send_to_play img{
    width: 60%;
}

chat-page .message-box .message-submit:hover {
    background: #209380;
}

chat-page .search{
    padding: 20px;
    width: 80%;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    background-color: #105852;
    border: none;
    color: white;
    border-radius: 24px;
}
chat-page .profile-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

chat-page .modal-content {
    background-color: #00453F;
    margin: 15% auto;
    padding: 2%;
    border-radius: 25px;
    width: 30%;
    height: auto;
    text-align: center;
    z-index: 2;
    color: #3DBDA7;
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
}

chat-page #closeBtn {
    float: right;
    cursor: pointer;
}

chat-page .profile-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
    border: 2px solid #105852;
}

chat-page .profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

chat-page .name {
    display: flex;
    gap: 10px;
}

chat-page .name h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

chat-page .profile-details p {
    margin: 5px 0 0;
    font-size: 18px;
    color: #666;
}


