

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:left;
    align-items: start;
    /* position: relative; */

}

.flex-1{
    flex: 1;
    /* max-width: 33%; */
    height: 95%;
    background-color: green;
}
.flex-2{
    flex: 12;
    /* max-width: 33%; */
    /* position: absolute; */
    height: 95%;
    background-color: red;
}
.flex-2 div{
    height: 10%;
    width:100%;
}
.flex-3{
    flex:1;
    /* max-width: 33%; */
    height: 95%;
    background-color: blue;
}

.box{
    width:100;
    height: 50%;
    background-color: black;
    border: 5px solid white;
    margin: 1px;
}
