* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 98vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat {
    width: 35%;
    height: 100vh;
    background-color: #00453F64;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}

.chat .chattext {
    color: #3DBDA7;
    margin-left: 40px;
    font-size: 36px;
    margin-bottom: 30px;
}

.user {
    position: relative;
    width: 15%;
    margin-top: 30px;
    border-radius: 50%;
    display: flex;
    margin-bottom: 20px;
    scroll-snap-align: start;
}

.users-display::-webkit-scrollbar {
    display: none;
}


.users-display {
    width: 100%;
    height: 80%;
    margin-left: 40px;
    overflow: scroll;
    border-radius: 0 0 3vw 3vw;
    scroll-snap-type: y mandatory;
}

.user img {
    width: 100%;
    height: 90%;
    margin-right: 20px;
    background-color: #F7C5BF;
    border-radius: 50%;
    /* position: relative; */
}

.user-status {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 0.25vh solid #00453F;
    background-color: #A5BAA9;
}

.backgrounda {
    top: 8%;
    left: 10%;
    width: 70%;
    height: 70%;
    border-radius: 100%;
    border: none;
    background-color: #A5BAA9;
}

.user-status.active {
    background-color: #36f00c;
}

.user-ingame.active {
    width: 94%;
    height: 34%;
    background-color: #3DBDA7;
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.6vw;
    bottom: -16%;
}

.user-ingame {
    display: none;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.user .username h1 {
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
}

.user .username p {
    font-size: 14px;
    color: #B5B2B2;
    width: 100vw;
    margin-top: 5px;
}

.text-chat {
    width: 60%;
    height: 100vh;
    display: flex;
    /* background-color: #00453F64; */
    background: radial-gradient(circle at top left, #053732, #006C6199, #0E867985, #3DBDA700);
    justify-content: center;
    border-radius: 24px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}



.messages {
    flex: 1 1 auto;
    color: rgba(255, 255, 255, .5);
    overflow: hidden;
    position: relative;
    border-radius: 26px;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.messages-content {
    overflow-y:scroll;
}

.messages-content::-webkit-scrollbar {
    display: none;
}

.messages .messages-content {
    height: 100%;
    width: 100%;
}

.messages .message {
    clear: both;
    float: left;
    margin: 18px 5px;
    background-color: #FFFFFF;
    font-size: 11px;
    line-height: 1.4;
    margin-left: 35px;
    position: relative;
}

.messages .my-messages .timestamp {
    position: absolute;
    bottom: -15px;
    font-size: 12px;
    right: 20px;
    color: rgba(255, 255, 255, .3);
}

.messages .my-messages {
    max-width: 70%;
    float: right;
    color: #fff;
    background: #3DBDA7;
    padding: 20px;
    border-radius: 42px;
    font-size: 1rem;
}

.messages .my-messages::before {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #257287;
    bottom: -4px;
}

.messages .your-messages {
    max-width: 70%;
    float: left;
    background-color: #fff;
    color: #3DBDA7;
    padding: 20px;
    border-radius: 42px;
    font-size: 1rem;
}

.messages .your-messages::before {
    left: auto;
    right: 0;
    border-right: none;
    border-left: 5px solid transparent;
    border-top: 4px solid #257287;
    bottom: -4px;
}

.messages .your-messages .timestamp {
    position: absolute;
    bottom: -15px;
    font-size: 12px;
    color: rgba(255, 255, 255, .3);
}

.messages .message:last-child {
    margin-bottom: 30px;
}

.messages .message .new {
    transform: scale(0);
    transform-origin: 0 0;
    animation: bounce 500ms linear both;
}

.message-box {
    flex: 0 1 40px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.message-box .message-input {
    border: none;
    width: 80%;
    resize: none;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 26px;
    padding: 20px;
}

.message-box .message-input::-webkit-scrollbar {
    display: none;
}

.message-box .message-submit {
    color: #fff;
    border: none;
    background: #3DBDA7;
    font-size: 10px;
    padding: 24px;
    border-radius: 25px;
}

.message-box .message-submit:hover {
    background: #209380;
}