*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    background-color: red;
}

.chat{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
    border-radius: 40px;
    /* margin-left: 20px; */
    background-color: aqua;
}
.chat h1{
    color: #3DBDA7;
    font-size: 36px;
   
    /* left: 0; */
}


.user {
    aspect-ratio: 1/1;
    position: relative;
    width: 10%;
    margin-top: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-snap-align: start;
}


.overflow-style{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.users-display {
    margin-top: 13%;
	width: 100%;
	height: 80%;
	overflow: scroll;
	border-radius: 0 0 3vw 3vw;
	scroll-snap-type: y mandatory;
}
.user img{
    width: 100%;
    position: relative;
}
.user-status {
    position: absolute; 
    top: 0;
    right: 0;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 0.25vh solid #00453F;
    background-color: #A5BAA9;
}
.user-status.active{
    background-color: #36f00c;
}
.user-ingame.active {
    width: 94%;
	height: 34%;
	background-color: #3DBDA7;
	/* margin-top: 95%; */
	position: absolute;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 0.6vw;
	bottom: -16%;
}
.user-ingame {
    display: none;
}
.flex-col{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-chat{
    width: 55%;
    height: 100vh;
    border-radius: 40px;
    display: flex;
    background-color: rgb(192, 192, 214);
    justify-content: center;
}