<link rel="stylesheet" href="../style/chat.css">
<div class="parent" id="chatid">
    <div class="chat">
        <h1 class="chattext">Chat</h1>
        <div id="search" style="display: flex;">
            <input class="search" type="text" placeholder="Search For Friend">
        </div>
        <div class="users-display overflow-style flex-col">
        </div>
    </div>
    <div class="text-chat ">
        
        <div class="messages">
            <div class="triangle-1"></div>
            <div class="messages-content"></div>
        </div>
        <div class="message-box">
            <textarea type="text" class="message-input"></textarea>
            <button type="submit" class="message-submit">
                <img src="../images/send-2.svg" alt="">
            </button>
        </div>
    </div>
</div>
