

<link rel="stylesheet" href="../style/settings.css">


<div class="center-console">
    <div class="settings-frame">
        <div class="settings-side-bar">
            <a class="settings-btn default">
                <img src="../images/settings/general.svg" alt="General" class="settings-icon">
                General
            </a>
            <a class="settings-btn security">
                <img src="../images/settings/security.svg" alt="General" class="settings-icon">
                Security
            </a>
            <a class="settings-btn language">
                <img src="../images/settings/language.svg" alt="General" class="settings-icon">
                Languages
            </a>
        </div>
        <div class="settings-main">
            <settings-default></settings-default>
        </div>
    </div>
</div>


